stages:
  - deploy

variables:
  CI_GROUP_NAME: telecomproject
  AWS_DEFAULT_REGION: eu-west-1
  AWS_ACCESS_KEY_ID: AKIAUNC467SMOH2XM5NF
  AWS_SECRET_ACCESS_KEY: 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

deploy-eks:
  stage: deploy
  image: 
    name: docker:latest
  services:
    - docker:19-dind
  when: manual
  before_script:
    - apk add --no-cache curl jq python3 py3-pip ca-certificates 
    - apk update && apk add curl git
    # Install kubectl
    - curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.15.1/bin/linux/amd64/kubectl
    - chmod u+x kubectl && mv kubectl /bin/kubectl
    # Install aws cli
    - pip install awscli
  script:
    - aws eks update-kubeconfig --name $CI_GROUP_NAME --region $AWS_DEFAULT_REGION
    - kubectl apply -f kubernetes-manifests.yaml
    - kubectl get service frontend-external | awk '{print $4}'

