stages:
  - deploy

variables:
  CI_GROUP_NAME: telecomproject
  AWS_DEFAULT_REGION: eu-west-1
  AWS_ACCESS_KEY_ID: AKIAUNC467SMOH2XM5NF
  AWS_SECRET_ACCESS_KEY: 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

deploy-eks:
  stage: deploy
  tags:
    - telecomproject-cluster
  before_script:
    # Install kubectl
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - curl -LO "https://dl.k8s.io/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl.sha256"
    - chmod +x kubectl | mkdir -p ~/.local/bin/kubectl | mv ./kubectl ~/.local/bin/kubectl
    # Install aws cli
    - apk add --no-cache curl jq python3 py3-pip
    - pip install awscli
  script:
    - aws eks update-kubeconfig --name $CI_GROUP_NAME --region $AWS_DEFAULT_REGION
    - kubectl apply -f kubernetes-manifests.yaml
