stages:
  - deploy

variables:
  CI_GROUP_NAME: telecomproject
  AWS_DEFAULT_REGION: eu-west-1
  AWS_ACCESS_KEY_ID: AKIAUNC467SMOH2XM5NF
  AWS_SECRET_ACCESS_KEY: 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

deploy-eks:
  stage: deploy
  image: 
    name: alpine:latest
  before_script:
    # Install kubectl
    - apk add --no-cache curl jq python3 py3-pip ca-certificates 
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - ls 
    - chmod +x ./kubectl
    - mkdir -p /usr/local/bin/kubectl
    - mv ./kubectl /usr/local/bin/kubectl
    # Install aws cli
    - pip install awscli
  script:
    - aws eks update-kubeconfig --name $CI_GROUP_NAME --region $AWS_DEFAULT_REGION
    - kubectl apply -f kubernetes-manifests.yaml
    - kubectl get service frontend-external | awk '{print $4}'
