stages:
  - setup
  - deploy

setup-cluster:
  stage: setup
  image: 
    name: $CI_REGISTRY/telecomproject/cluster/deptools:latest
  when: manual # testing
  script:
    - eksctl create cluster -f create_cluster.yaml || true

deploy-eks:
  stage: deploy
  image: 
    name: $CI_REGISTRY/telecomproject/cluster/deptools:latest
  needs: [setup-cluster]
  when: manual # testing
  script:
    - aws eks update-kubeconfig --name $PROJECT_NAME --region $AWS_DEFAULT_REGION
    - kubectl apply -f kubernetes-manifests.yaml
    - kubectl get service frontend-external | awk '{print $4}'